<%- include('header') %>

<h1>Gallery Listing</h1>

<ul>
  <% objects.forEach(object => { %>
  <li>
    <a href="/object/<%- object.id %>">Object #<%- object.id %>: <%- object.title %></a>
  </li>
  <% }); %>
</ul>

<%- include('footer') %>
